[mcu eddy]
# FOR USB: replace this with your serial port ID
# FOR CANBUS: replace this with your canbus UUID
#serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340310A9D51C-if00
canbus_uuid=55f83aa87e62
#restart_method: command

[probe_eddy_ng btt_eddy]
sensor_type: ldc1612
i2c_mcu: eddy
i2c_bus: i2c0f
x_offset: 0 # INSERT VALUE FOR YOUR PROBE POSITION
y_offset: 18 # INSERT VALUE FOR YOUR PROBE POSITION 

[temperature_sensor btt_eddy_mcu]
sensor_type: temperature_mcu
sensor_mcu: eddy
min_temp: 10
max_temp: 100

[temperature_sensor btt_eddy]
sensor_type: Generic 3950
sensor_pin: eddy:gpio26

[homing_override]
### adapted to EDDY_NG 
set_position_z:-0.25
gcode:
    G91
#    G1 Z4
    G1 Z5
    G90
    G28 X Y
    G1 X110 Y110 F6000
    G28 Z                      ; do the coarse home
    G90                        ; set absolute positioning
    G0 Z2 F1000                ; to 2mm -- home height (or whatever you'd like), for maximum sensor accuracy
    G4 S1                      ; chill for a sec
    M400                       ; wait for move to finish
    PROBE_EDDY_NG_PROBE_STATIC HOME_Z=1 ; read the current exact height from sensor and home Z to it
    G0 Z5 F1000 ; to 5mm as home

# [safe_z_home]
# home_xy_position: 110, 110 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.
# z_hop: 5
# z_hop_speed: 25
# speed: 50

#[gcode_macro PARKMIDDLE]
#gcode:
#    G91
#    G1 Z5 F1000
#    G90
#    G1 X164.5 Y165 F6000
#    G0 Z5 F1000 ; to 5mm as home

#[gcode_macro TAP_MIDDLE]
#gcode:
#    PARKMIDDLE
#    PROBE_EDDY_NG_TAP PLOT=2
#    PARKMIDDLE

[z_tilt]
speed: 200
horizontal_move_z: 1.5
z_positions: 
        40, 82.67
        86.67, 200
points:
        40, 82.67
        200, 82.67
retries: 5
#retry_tolerance: 0.0075
retry_tolerance: 0.02


[bed_mesh]
horizontal_move_z: 1.5
speed: 200
# For the mesh dimensions below, the coordinates need to be reachable by the center of the probe. To calculate coordinates that will work, use the formula below:
# mesh x min = position_min_x + greater_of (15mm or x_offset) <--- in this term, only consider the x offset if it is positive, ignore if negative.
# mesh y min = position_min_y + greater_of (15mm or y_offset) <--- in this term, only consider the y offset if it is positive, ignore if negative.
# mesh x max = position_max_x - greater_of (15mm or |x_offset|) <--- in this term, only consider the x offset if it is negative, ignore if positive.
# mesh y max = position_max_y - greater_of (15mm or |y_offset|) <--- in this term, only consider the y offset if it is negative, ignore if positive.
# Example: Consider that you have a 300 x 300 bed with the max x and y positions being 300 and the min being 0. Your probe offsets are -20 for X and 10 for Y
# For mesh x min we ignore the x offset term because it is negative. Therefore mesh x min = 15
# For mesh y min we do not ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y min = 15
# For mesh x max we do not ignore the x offset term because it is negative. It is also greater than 15. Therefore mesh x max = 280
# For mesh y max we ignore the y offset term because it is positive but it is less than 15 so we use 15. Therefore mesh y max = 285
# The final result would be mesh_min: 15, 15 mesh_max: 280, 285
mesh_min: 20, 40  # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
mesh_max: 210, 200 # modify these according to the above guide. If the probe cannot reach then you will get a klipper error when trying to scan a bed mesh.
probe_count: 9, 9
mesh_pps: 0, 0
algorithm: bicubic
scan_overshoot: 8  #uncomment this section if you still have room left over on the X axis for some scan overshoot to product smoother movements and more accurate scanning.
